@import "tailwindcss";

@theme {
  --color-caritas-magenta: #D91A5B;
  --color-caritas-blue: #3498DB;
  --color-caritas-green: #2ECC71;
  --color-caritas-red: #E74C3C;
  --caritas-magenta-light: #F8E5ED;
  --caritas-green-light: #E8F8F0;
  --caritas-blue-light: #EBF5FB;
  --caritas-red-light: #FADBD8;
}